<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/otmbidirectional_db
		</property>

		<property name="connection.username">
			root
		</property>

		<property name="connection.password">
			1234
		</property>

		<!-- <property name="hbm2ddl.auto">create</property> -->
		<property name="hbm2ddl.auto">create</property>

		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>

		<property name="show_sql">
			true
		</property>


		<!-- <mapping resource="com/schoolbusescreate/Bus.hbm.xml" /> <mapping 
			resource="com/schoolbusescreate/School.hbm.xml" /> -->

		<mapping
			resource="com/universitycollegecreate/University.hbm.xml" />
		<mapping
			resource="com/universitycollegecreate/College.hbm.xml" />

		<!-- <mapping resource="com/interviewrsapplicantdelete/Interviewrs.hbm.xml" 
			/> <mapping resource="com/interviewrsapplicantdelete/Applicant.hbm.xml" /> -->

		<!-- <mapping resource="com/teacherstudentget/Teacher.hbm.xml" /> <mapping 
			resource="com/teacherstudentget/Student.hbm.xml" /> -->


	</session-factory>
</hibernate-configuration>