<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/relationships_db
		</property>

		<property name="connection.username">
			root
		</property>

		<property name="connection.password">
			1234
		</property>

		<!-- <property name="hbm2ddl.auto">create</property> -->

		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>

		<property name="show_sql">
			true
		</property>

		<!-- <mapping resource="com/relationships/Customer.hbm.xml" /> <mapping 
			resource="com/relationships/Vendor.hbm.xml" /> -->

		<!-- <mapping resource="com/principleteacherupdate/Teacher.hbm.xml" /> 
			<mapping resource="com/principleteacherupdate/Principle" /> -->

		<!-- <mapping resource="com/parentchild/Children.hbm.xml" /> <mapping resource="com/parentchild/Parent.hbm.xml" 
			/> -->

		<!-- <mapping resource="com/companymodelsupdate/Company.hbm.xml" /> <mapping 
			resource="com/companymodelsupdate/Models.hbm.xml" /> -->

		<!-- <mapping resource="com/vehicletyreread/Tyre.hbm.xml" /> <mapping resource="com/vehicletyreread/Vehicle.hbm.xml" 
			/> -->

		<!-- <mapping resource="com/personcardelete/Person.hbm.xml" /> <mapping 
			resource="com/personcardelete/Car.hbm.xml" /> -->

		<!-- <mapping resource="com/productpurchaseupdate/Product.hbm.xml" /> <mapping 
			resource="com/productpurchaseupdate/Purchase.hbm.xml" /> -->

		<!-- <mapping resource="com/customerorderdelete/Customer.hbm.xml" /> <mapping 
			resource="com/customerorderdelete/Order.hbm.xml" /> -->

		<!-- <mapping resource="com/userpostdelete/User.hbm.xml" />
		<mapping resource="com/userpostdelete/Post.hbm.xml" /> -->
		
		<!-- <mapping resource="com/studentcoursecreate/Student.hbm.xml" />
		<mapping resource="com/studentcoursecreate/Course.hbm.xml" /> -->
		
		<!-- <mapping resource="com/salemencontact/Salemen.hbm.xml" />
		<mapping resource="com/salemencontact/Contact.hbm.xml" /> -->
		
		<!-- <mapping resource="com/menworkread/Men.hbm.xml" />
		<mapping resource="com/menworkread/Work.hbm.xml" /> -->
		
		<!-- <mapping resource="com/classroomstudentupdate/Student.hbm.xml" />
		<mapping resource="com/classroomstudentupdate/ClassRoom.hbm.xml" /> -->
		
		<!-- <mapping resource="com/applicantinterviewrsupdate/Interviewrs.hbm.xml" />
		<mapping resource="com/applicantinterviewrsupdate/Applicant.hbm.xml" /> -->
		
		<!-- <mapping resource="com.customerinvoiceread/Customer.hbm.xml" />
		<mapping resource="com/applicantinterviewrsupdate/Invoice.hbm.xml" /> -->
		
		<!-- <mapping resource="com.laptopkeyscreate/Laptop.hbm.xml" />
		<mapping resource="com/laptopkeyscreate/Keys.hbm.xml" /> -->
		
		<mapping resource="com.almirahclothesdelete/Almirah.hbm.xml" />
		<mapping resource="com/almiraclothsdelete/Cloths.hbm.xml" />
		

	</session-factory>
</hibernate-configuration>